src/main/resources/templates/Account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Account">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nom" type="xs:string" />
                <xs:element name="prenom" type="xs:string" />
                <xs:element name="email" type="xs:string" />
                <xs:element name="password" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>